# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# IDE/editor directories
.vscode/
.idea/

# Log files
*.log

# Dependency files
Pipfile.lock

# Miscellaneous
.DS_Store
.coverage

# Build artifacts
dist/
build/

# Temporary files
*.tmp

# Windows OS files
Thumbs.db
desktop.ini
